<p>
  <b>Question:</b> <%=h @question.question%>
</p>
<p>
  <b>Password:</b> <%=h @question.answer%>
</p>
 
 
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back',  :controller=>"questions", :action=>"index", :quiz=>session[:quizid] %>
