<h1>Studentpage#index</h1>
<p>Welcome 
   <%=session[:fname]%> 
</p>

<table>
  <tr>
    <td>
      Class Management
    </td>  
    <td>
      <%= link_to 'Enroll Course', :controller=>"enrollsubject", :action=>"index"%>
    </td>
    <td>
      <%= link_to 'Take Quizzes', :controller=>"quiztotake", :action=>"index"%>
    </td>
    <td>
      <%= link_to 'View Grades', :controller=>"quiztotake", :action=>"grades"%>
    </td>
        
  </tr>
</table>

<%#dsfdf%>
