<h1>Teacherpage#index</h1>

<p>Welcome 
   <%=session[:fname]%>
</p>

<table>
  <tr>
    <td>
      Class Management
    </td>  
    <td>
      <%= link_to 'View Subjects', :controller=>"subjects"%>
    </td>
        
  </tr>
</table>
